body {
  font-family: sans-serif;
}

.user-search-container {
  display: flex;
  position: relative;
}

.user-search-inpt {
  width: 100%;
  display: flex;
}
.suggestion-tem li {
  display: "flex";
  align-items: center;
  gap: "10px";
  cursor: "pointer";
  border: "1px solid black";
}

.suggestion-tem li:hover {
  background-color: #ccc;
}

.suggestion-tem li img {
 height: 20px;
}